
body{
    font-family:'Special Elite', cursive;
    background-color: #f5dbda;
}

#header_div{
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
}

#header_div h2 {
    color: #ce2700;
    font-size: 55px;
}

#header_div p {
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

#footer_div{
    position: absolute;
    background-color: #f5f5f5 ;
    width: 100%;
    bottom: 0;
    color: #6c757d;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    font-size: 18px;
    line-height: 3;
    text-align: center;
}



#header{
    color: #183b4d ;
}

#button_start{
font-family: 'Roboto', sans-serif;
margin-top: 130px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;

}

